@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&family=Prompt:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Header */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    color: rgb(84, 0, 46);
    background-color: rgba(231, 196, 136, 0.242);

}

header .navegador ul {
    display: flex;
    font-family: 'Prompt', sans-serif;
    list-style-type: none;
}

header .navegador a {
    text-decoration: none;
    color: rgb(84, 0, 46);
    padding: 5px;
    font-weight: 800;
    font-size: larger;
}

header .navegador a:hover {
    color: rgb(218, 9, 144);
}

header .eslogan h2 {
    font-family: 'Prompt', sans-serif;
    font-size: xx-large;
    font-style: italic;
    font-weight: 900;
    text-align: center;
}

header .logo img {
    height: 180px;
}

/* CSS Jumbotron */

main .jumbotron {
    display: grid;
    justify-items: center;
    align-items: center;
    color: rgb(43, 1, 24);
    grid-template-columns: 50% 50%;
    background-image: linear-gradient(to bottom right, rgba(189, 187, 162, 0.381), rgba(196, 135, 187, 0.596));

}


main .jumbotron .presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: large;
    padding: 5%;

}



main .jumbotron .img-presentacion img {
    padding: 1%;
    border-radius: 10%;
}

main .jumbotron .contact {
    padding: 0% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

main .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .contact input {
    width: 90%;
    background-color: rgb(6, 3, 8);
    color: aliceblue;
    padding: 5px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

main .form #sent {
    width: 30%;
    align-self: center;

}

main .jumbotron .img-presentacion img {
    max-width: 100%;
    height: 100%;

}

main .contact input:hover {
    background-color: rgb(191, 54, 118);
    text-decoration: none;

}

main .contact #sent:hover {
    background-color: rgb(191, 54, 118);
    text-decoration: none;

}

/* CSS Presentation Showroom */

main .presentation-showroom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Prompt', sans-serif;
    font-style: italic;
    font-size: large;
    color: rgb(84, 0, 46);
    font-weight: 900;
    background-color: rgba(231, 196, 136, 0.242);
}

/* CSS Showroom */

main .showroom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: rgba(231, 196, 136, 0.242);

}

main .showroom .box img {
    width: 100%;
    border-radius: 3%;
    background-size: cover;

}


/* CSS About */

/* Css Why */

main .about .why {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    font-family: 'Prompt', sans-serif;
    font-style: italic;
    color: rgb(84, 0, 46);
    font-weight: 900;
    background-color: rgba(231, 196, 136, 0.242);
    font-size: large;

}

/* Css Steps */

main .stepbystep {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Prompt', sans-serif;
    font-style: italic;
    color: rgb(84, 0, 46);
    font-weight: 900;
    background-color: rgba(231, 196, 136, 0.242);
    padding-bottom: 50px;
}

main .stepbystep .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    width: 300px;
    text-align: center;

}

main .stepbystep .step img {
    height: 150px;
}

/* CSS plus*/

main .plus {
    display: flex;
    align-items: center;
    background-color: rgba(6, 44, 67, 0.16);
    padding: 20px;
}

main .plus img {
    height: 280px;

}

main .plus .text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-style: italic;
    font-family: 'Prompt', sans-serif;
    color: black;
    font-weight: 400;
    width: 100%;
    padding: 10px 10px 20px 15px;

}

main .plus .text p {
    padding: 3px 0px 3px 0px;
}

main .plus .text ul {
    padding: 3px 0px 3px 0px;
}
main .plus .text ul li {
    font-weight: bolder;
}



/*  CSS Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    font-style: italic;
    color: rgb(43, 1, 24);
    font-weight: 900;
    background-color: rgba(187, 164, 133, 0.142);
    background-image: linear-gradient(to bottom right, rgba(164, 89, 154, 0.13), rgba(172, 158, 140, 0.112));
    padding: 20px;
}

/*  CSS Footer Logo */

footer .logo-footer img {
    height: 180px;
}

/*  CSS Footer Links */

footer .links {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 180px;

}


footer .links .links-list ul {
    list-style-type: none;
    padding: 10px;
}

footer .links .links-list li {
    padding: 3px;
}

footer .links .links-list a {
    text-decoration: none;
    font-size: medium;
    color: rgb(43, 1, 24);

}

footer .links .links-list a:hover {
    color: rgb(218, 9, 144);
}


/*  CSS Footer rrss */

footer .rrss {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px 10px;
}

footer .rrss .logo-text {
    display: flex;
    align-items: center;
}

footer .rrss .logo-text img {
    height: 50px;

}

footer .rrss .logo-text a {
 text-decoration: none;
 color: rgb(49, 3, 31);
}

footer .rrss .logo-text a:hover {
    color: rgb(218, 9, 144);
}


/* Responsividad */

@media screen and (max-width:700px) {
    header .navegador ul {
        display: block;
    }

    main .jumbotron .img-presentacion img {
        display: none;
    }

    main .plus {
        flex-wrap: wrap;
        justify-content: center;
    }

    main .jumbotron {
        display: flex;
        background-image: url(./imagenes/pared2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    main .jumbotron .texto-jumbotron .presentation {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    main .jumbotron .texto-jumbotron {
        background-image: linear-gradient(to bottom, rgba(240, 229, 239, 0.884)30%, rgba(233, 177, 216, 0.231));


    }


}

@media screen and (max-width:500px) {
    header .logo img {
        height: 130px;
    }

    header .eslogan h2 {
        font-size: x-large;
        padding-left: 4px;
    }

    header .navegador a {
        font-size: small
    }


    main .showroom {
        display: flex;
        flex-wrap: wrap;

    }


    footer {

        justify-content: center;

    }

    footer .links {

        text-align: center;

    }
    
}

@media screen and (min-width:1600px) {

    header {
        font-size: x-large;
    }


    main .showroom {

        grid-template-columns: 33% 33% 33%;

    }

    main .presentation-showroom {

        font-size: x-large;

    }

    main .jumbotron .presentation {

        font-size: xx-large;


    }

    main .form input {
        font-size: x-large;
    }

    main .about .why {

        font-size: x-large;

    }

    main .stepbystep .step p {
        font-size: x-large;
    }

    main .plus .text p {
        font-size: x-large;
    }

    main .plus .text ul {
        font-size: x-large;
    }

    footer .links .links-list a {

        font-size: large;

    }

    footer .rrss .logo-text p {
        font-size: large;
    }
}